.dir {
    height: 75px;

    .dir-color {
        height: 75px;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }

    .str-color {
        background-color: #5499C7   ;
    }

    .arr-color {
        background-color: #45B39D  ;
    }
}

.div-align {
    left: 35%;
    position: relative;
}