<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="f-30 red-c">Directives</div>
</div>
<div class="m-15 f-20 div-align" fxLayout="column">
  <div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" class="dir">
      <div class="dir-color arr-color" fxLayoutAlign="center center">Structural</div>
      <div fxLayoutAlign="center center">Modify the structure of DOM</div>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" class="dir m-15">
      <div class="dir-color arr-color" fxLayoutAlign="center center">Attributes</div>
      <div fxLayoutAlign="center center">Modify the attributes of DOM elements</div>
    </div>
  </div>
</div>