<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="f-30 red-c">Directives</div>
</div>
<div class="m-15 f-20 div-align" fxLayout="column">
  <div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" class="dir">
      <div class="dir-color arr-color" fxLayoutAlign="center center">Structural</div>
      <div fxLayoutAlign="center center">Modify the structure of DOM  <span class="ex">ex. ngIf, ngFor</span></div>
    </div>
  </div>
  <div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" class="dir m-15">
      <div class="dir-color arr-color" fxLayoutAlign="center center">Attributes</div>
      <div fxLayoutAlign="center center">Modify the attributes of DOM elements  <span class="ex">ex. ngClass, ngStyle</span></div>
    </div>
  </div>
</div>
<div class="tag-align">
  <div><span class="tag">*ngIf: </span> <span class="f-20">You can add or remove an element from the DOM by applying an NgIf directive to that element.</span></div>
  <div><span class="tag">*ngFor: </span> <span class="f-20">NgForOf is a repeater directive: a way to present a list of items.</span></div>
  <div><span class="tag">*ngClass: </span> <span class="f-20">NgClass typically control how elements appear by adding and removing CSS classes dynamically.</span></div>
  <div><span class="tag">*ngStyle: </span> <span class="f-20">NgStyle can set inline styles dynamically, based on the state of the component.</span></div>
</div>

<div class="f-20 link-tag">
  <a href="https://stackblitz.com/edit/ang-session-directive?file=src%2Fapp%2Fapp.component.html" target="_blank">Examples for Directives</a>
</div>
