.sidenav {
    height: calc(100vh - 70px);
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: auto;
    padding-top: 20px;
}

.sidenav a {
    padding: 5px 5px 5px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #0f0f0f;
    display: block;
}

.sidenav a:hover {
    color: #8B0000;
}

.active {
   color: #8B0000;
}