<div class="wrapper">
  <div class="f-30 red-c" fxLayoutAlign="center center">Routing</div>
  <div class="m-15 f-20 text-align">Routing is used for implementing navigation in Angular.</div>
  <div class="m-15 f-20">
    <p>1. Import RouterModule, Routes</p>
    <p>2. Configure the router via RouterModule.forRoot()</p>
    <p>3. The RouterOutlet is a directive from the router library which acts as a placeholder that marks the spot in the 
      template where the router should display the components for that outlet.</p>
  </div>

  <div class="f-20 link-tag">
    <a href="https://stackblitz.com/github/dhiraj20/routing" target="_blank">Example
      for Routing</a>
  </div>

  <div class="f-30 red-c m-30" fxLayoutAlign="center center">Services and DI</div>
  <div class="f-20 m-15">Services are a great way to share information among components.</div>
  <div class="f-20 m-15">Components shouldn't fetch or save data directly.</div>
  <div class="f-20 m-15">Command to create service: <span class="text-bold red-c">ng g s serviceName</span></div>
</div>
