<div class="wrapper">
  <div fxLayout="column" fxLayoutAlign="center center" class="width100">
    <div class="f-30 red-c">Components</div>
    <div fxLayout="row" fxLayoutGap="20px" class="m-15">
      <div class="box light-green border-radius" fxLayoutAlign="center center">Data</div>
      <div class="box yellow border-radius" fxLayoutAlign="center center" fxLayout="column">
        <div>HTML</div>
        <div>Template</div> 
      </div>
      <div class="box light-red border-radius" fxLayoutAlign="center center">Logic</div>
    </div>
  </div>

  <div class="text-align m-30">
    <p class="f-20">Command to create a component: 
      <span class="text-bold red-c">ng g c componentName</span>
    </p> 
  </div>
</div>
