<div class="wrapper">

  <div class="f-30 red-c text-align">@Input()</div>
  <div class="align">
    <div class="m-15 f-20">Parent to child: share data via @Input decorator</div>
    <div class="m-15 f-20">The @Input decorator is used by the child component to accept data coming from a parent.</div>
  </div>
  <div class="f-20 link-tag">
    <a href="https://stackblitz.com/edit/angular-session-input?file=src/app/car.component.ts" target="_blank">Examples
      for @Input()</a>
  </div>

  <div class="f-30 red-c text-align m-30">@Output()</div>
  <div class="align">
    <div class="m-15 f-20">Child to parent: share data via @Output Decorator and EventEmitter</div>
    <div class="m-15 f-20">The @Output decorator is used to emit data(events) out of a component to a parent component.</div>
  </div>
  <div class="f-20 link-tag">
    <a href="https://stackblitz.com/edit/angular-session-output?file=src/app/app.component.ts" target="_blank">Examples
      for @Output()</a>
  </div>

</div>