<div class="wrapper">
  <div class="f-30 red-c" fxLayoutAlign="center center">Forms</div>
  <div class="m-30 f-20 m-left20">
    <p>FormControl: Tracks the value and validation status of an individual from control.</p>
    <p>With form control we can check</p>
    <ul class="m-left">
      <li>Value</li>
      <li>touched</li>
      <li>untouched</li>
      <li>dirty</li>
      <li>pristine</li>
      <li>valid</li>
      <li>errors</li>
    </ul>
  </div>

  <div class="m-30 f-20 m-left20">
    <div>Two types of form</div>
    <ul class="f-20 m-left">
      <li>Template driven form</li>
      <li>Reactive form</li>
    </ul>
  </div>

  <div class="f-20 link-tag">
    <a href="https://stackblitz.com/edit/angular-session-form1" target="_blank">Example form 1</a>
  </div>
  <div class="f-20 link-tag m-15">
    <a href="https://stackblitz.com/edit/angular-session-template-driven-form" target="_blank">Example Temlate driven
      form</a>
  </div>
  <div class="f-20 link-tag m-15">
    <a href="https://stackblitz.com/edit/angular-session-reactive-from?file=src/app/app.component.html" target="_blank">Example Reactive form</a>
  </div>

</div>