<div class="wrapper">
  <div fxLayoutAlign="center center" class="f-30 red-c">Angular</div>
  <p class="mt-15 f-20">
      Angular is a Javascript framework to build more interactive web apps. 
      It is designed for both Web, Desktop and Mobile platforms. 
  </p>
  <div class="mt-15 f-20">
    Benefits and features: 
  </div>
  <ul class="mt-15 f-20 align">
    <li>Cross Platfrom</li>
    <li>Speed and Performance</li>
    <li>Productivity</li>
    <li>Full development story</li>
  </ul>
</div>

