/* You can add global styles to this file, and also import other style files */
$heade-size: 25px;

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 25px;
}

.border-radius {
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.mt-15 {
    margin-top: 15px;
}

.f-20 {
    font-size: 20px;
}

.f-30 {
    font-size: 30px;
}

.m-15 {
    margin-top: 15px;
}

.m-30 {
    margin-top: 30px;
}

.width100 {
    width: 100%;
}

.text-align {
    text-align: center;
}

.red-c {
    color: #C0392B ;
}

.yellow {
    background-color: #F9E79F;
}

.light-green {
    background-color: #A3E4D7;
}

.light-red {
    background-color: #E6B0AA ;
}

.text-bold {
    font-weight: 500;
}

.header {
    font-size: $heade-size;
    font-weight: 500;
    color: #01060E;
}

.wrapper {
    padding: 35px;
}

.code {
    border-radius: 10px;
    .header {
        background-color: #2471A3;
        line-height: 60px;
        padding: 10px 25px;
    }
}

.text-align {
    text-align: center;
}
